

.btn-effect:hover{
    background-color: dodgerblue;
    border: solid dodgerblue 0px;
    transition: ease 2s;
}

.songWasurejiBG{
    background-image: url(../../../imgs/wasurejiBg.jpg);
}
.songFairyTaleBG{
    background-image: url(../../../imgs/fairyTale.jpg);
}

.blending__mode__blue{
    width: 100%;
    height: 110vh;
    background-size: cover;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-color: steelblue;
    background-blend-mode: luminosity;
    background-position: center;
    /* background-blend-mode: color-burn; */
}
/* sm:400 md:600 lg  */
/* @media screen and (min-width:400px){
    .songWasurejiBG{
        height: 500px;
    }
}
@media screen and (min-width:600px){
    .songWasurejiBG{
        height: 1500px;
    }
} */