

.btn-effect:hover{
    background-color: dodgerblue;
    border: solid dodgerblue 0px;
    transition: ease 2s;
}

.songWasurejiBG{
    background-image: url(../../../imgs/wasurejiBg.jpg);
}
.songFairyTaleBG{
    background-image: url(../../../imgs/fairyTale.jpg);
}
.songYasashiSuiseiBG{
    background-image: url(../../../imgs/yasashiSuisei.jpg);
}
.songkhorobushkaBG{
    background-image: url(../../../imgs/khorobushka.jpg);
}
.songTemnayaBG{
    background-image: url(../../../imgs/temnaya.jpg);
}
.songKimetsuBG{
    background-image: url(../../../imgs/kimetsu.png);
}
.songChernoglazaBG{
    background-image: url(../../../imgs/chernoglaza.png);
}
.songYoruBG{
    background-image: url(../../../imgs/yorunikakeru.png);
}
.songLiteratureBG{
    background-image: url(../../../imgs/literature.png);
}
.songServeRusiaBG{
    background-image: url(../../../imgs/serveRussia.png);
}
.songChinderelaBG{
    background-image: url(../../../imgs/cinderela.jpg);
}
.songBandungImageBg{
    background-image: url(../../../imgs/bandung.jpg);
}
.songEtoLiScasteBG{
    background-image: url(../../../imgs/money.jpg);
}

.blending__mode__blue{
    width: 100%;
    height: 110vh;
    background-size: cover;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-color: steelblue;
    background-blend-mode: luminosity;
    background-position: center;
    /* background-blend-mode: color-burn; */
}
.blending__mode__blue__darken{
    width: 100%;
    height: 110vh;
    background-size: cover;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-color: steelblue;
    /* background-blend-mode: luminosity; */
    background-position: center;
    background-blend-mode: color-burn;
}

/* sm:400 md:600 lg  */
/* @media screen and (min-width:400px){
    .songWasurejiBG{
        height: 500px;
    }
}
@media screen and (min-width:600px){
    .songWasurejiBG{
        height: 1500px;
    }
} */