.transition-all{
    transition: all;
}

.duration-500{
    transition-duration: .5s;
}
.border-atas-kiri .border,
.border-atas-kanan .border{
    width: 50px;
    height: 50px;
    background-color: rgb(138, 229, 229);
    box-shadow: 12px 12px 12px royalblue;
    animation: border-kelip 5s alternate-reverse infinite;
}

@keyframes border-kelip {
    from{}
    to{
        background-color: rgb(241, 241, 241);
        box-shadow: 12px 12px 12px rgb(244, 245, 247);
    }
}

.border-atas-kiri{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-12px) translateY(-12px);
}
.border-atas-kanan{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(12px) translateY(-12px) rotate(90deg);
}

.hiasan{
    color: #13005A;
    filter: drop-shadow(0 5px 1px blue);
    animation: kelip 3s alternate infinite;
    transition: .7s all;

}
@keyframes kelip {
    from{
        color: #00337C;
        filter: drop-shadow(0 5px 3px #00337C);
        transform: translateY(-12px) rotate(0deg);
    }
    50%{
        color: #087953;
        filter: drop-shadow(0 5px 3px #087953);
        transform: translateY(4px) rotate(30deg);
    }
    to{
        color: #03C988;
        filter: drop-shadow(0 5px 3px #03C988);
        transform: translateY(12px) rotate(60deg);
    }
}


.hiasan-utama{
    position: relative;
    color: #13005A;
    font-size: 1em;
    text-shadow:0 6px 5px rgb(56, 59, 241);
    filter: drop-shadow(12px 12px 1px rgb(223, 131, 241));
    animation: kelip-utama 3s alternate-reverse infinite;
}

@keyframes kelip-utama {
    from{
        color: rgb(95, 98, 238);
        filter: drop-shadow(12px 12px 1px rgb(208, 174, 224));
    }
    50%{
        color: rgb(117, 176, 245);
        filter: drop-shadow(12px 12px 1px rgb(183, 54, 243));
    }
    to{
        color: rgb(41, 194, 173);
        filter: drop-shadow(12px 12px 1px rgb(100, 9, 143));
    }
}


.banners-border-kiri-atas{
    position: absolute;
    transform:rotate(190deg);
    left:0;
    top: 0;
}
.banners-border-kanan-atas{
    position: absolute;
    transform:rotate(190deg);
    right:0;
    top: 0;
}
.banners-border-kiri-bawah{
    position: absolute;
    transform:rotate(190deg);
    left:0;
    bottom: 0;
}
.banners-border-kanan-bawah{
    position: absolute;
    transform:rotate(0deg);
    right:0;
    bottom: 0;
}

.banners-border{
    width: 50px;
    height: 50px;
    background-color: blue;
}
.banners-border::before,
.banners-border::after{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
}

.banners-border::before{
    right:13px;
    top: 13px;
    background-color: rgb(161, 21, 196);
}
.banners-border::after{
    left: 15px;
    top: 13px;
    background-color: rgb(88, 71, 182);
}

.banner-icon{
    width: 90px;
    height: 70px;
}
.mata-container{
    position: absolute;
    top: 0;
}
.mata{
    font-size: 12px;
}
.berlian-container .bi-gem{
    text-shadow: 0 7px 3px blue;
}
.single-gem{
    animation:gem 2s infinite alternate;
}
@keyframes gem {
    from{
        /* opacity: 1; */
    }
    to{
        text-shadow: 0 7px 3px purple;
    }
}
.berlian-double-kanan{filter: drop-shadow(12px 12px blue);}
.berlian-double-kiri{filter: drop-shadow(-12px 12px blue);}
.berlian{
    animation:berlian 2s infinite alternate-reverse;
}
@keyframes berlian {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.bintang-container .bi-moon-stars-fill{
    transform: translateY(-47px);
    animation:bulan-jatuh  4s infinite ease-out;
    opacity: 0;
}
@keyframes bulan-jatuh {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateY(0px);
        filter: drop-shadow(12px 12px 4px blue);
    }
}
.bintang-container .bi-star-fill{
    color: rgb(72, 81, 212) !important;
    filter: drop-shadow(3px 3px 5px blue);
    margin-left: -12px;
    animation:laka-lantas-bintang  4s infinite ease-out;
}
@keyframes laka-lantas-bintang {
    from{
        color: purple !important;
        opacity: 1;
    }
    50%{
        color: purple !important;
        filter: drop-shadow(3px 3px 5px purple);
        margin-left: 8px;
    }
    to{
        opacity: 0;
        color: purple !important;
        margin-left: 12px;
    }
}


.hoverable-effect{
    background: linear-gradient(45deg,rgba(0,0,0,.8),dodgerblue);
    padding: 15px;
    color: white;
    transition: all 2s; 
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0;
    border-radius: 8px;
    filter: drop-shadow(8px 8px 12px purple);
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hoverable-animeshion 4s alternate infinite;
}
@keyframes  hoverable-animeshion {
    from{}
    to{
        filter: drop-shadow(8px 8px 12px #fff);
    }
}
.hoverable-effect:hover{
    opacity: 1;
}

.banners-hoverable-effect{
    background-color: #fff;
    transition: 2s all;
}
.banners-hoverable-effect:hover{
    background: linear-gradient(45deg,rgba(0,0,0,.8),dodgerblue);
    filter: drop-shadow(1px 1px 4px black);
    color: #fff;
    /* transition: 3s all; */
    opacity: 1;
}

.dodger-blue{
    color: dodgerblue;
    background-color: white;
}

.pink{
    color: violet;
    background-color: white;
}