.moonlight-weejio-begeh{
    position: absolute;
    object-position: center;
    object-fit: cover;
    inset: 0;
    width: 100vw;
    height: 100vh;
}
.loading-container{
    position:absolute;
    bottom:20px;
    right:50px;
    color:#fff;
    animation: loading 2s alternate infinite;
    background: linear-gradient(rgba(0, 0, 255,.7),rgba(0,0,0,.7));
    padding: 4px;
    transform: translateX(0px);
    transition: all 4s;
    user-select: none;
}
.loading-appName-container{
    position:absolute;
    bottom:40%;
    right:50%;
    color:#fff;
    animation: loading 2s alternate infinite;
    animation-delay: 3s;
    background: linear-gradient(rgba(0, 0, 255,.7),rgba(0,0,0,.7));
    padding: 4px;
    transform: translateX(0px);
    transition: all 4s;
    user-select: none;
}

@keyframes loading {
    from{}
    to{
        text-shadow: 1px 5px  purple;
        box-shadow: 1px 1px 5px 3px dodgerblue;
        transform: translateX(13px);
        transition: all 4s;
        opacity: 0;
    }
}
.tips-container{
    position: absolute;
    bottom:5%;
    left: 25%;
    z-index: 190;
    cursor: default;
    user-select: none;
    font-size: calc(12px + 1vw);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.loading-bar-container{
    position: absolute;
    bottom: 0px;
    background-color: #000;
    width: 100%;
    height: 10px;

}
/*  */
.crystal-loading-1{
    background-color: dodgerblue;
    width: 10%;
    height: 10px;

}
.crystal-loading-2{
    background-color: dodgerblue;
    width: 40%;
    height: 10px;

}
.crystal-loading-3{
    background-color: dodgerblue;
    width: 60%;
    height: 10px;

}
.crystal-loading-4{
    background-color: dodgerblue;
    width: 80%;
    height: 10px;

}
.crystal-loading-5{
    background-color: dodgerblue;
    width: 100%;
    height: 10px;

}
.crystal-loading-6{
    background-color: dodgerblue;
    width: 100%;
    height: 10px;

}