.moonlight-weejio-begeh{
    position: absolute;
    object-position: center;
    object-fit: cover;
    inset: 0;
    width: 100vw;
    height: 100vh;
}
.loading-container{
    position:absolute;
    bottom:20px;
    right:50px;
    color:#fff;
    animation: loading 2s alternate infinite;
    background: linear-gradient(rgba(0, 0, 255,.7),rgba(0,0,0,.7));
    padding: 4px;
    transform: translateX(0px);
    transition: all 4s;
    user-select: none;
}
.loading-appName-container{
    position:absolute;
    bottom:40%;
    right:50%;
    color:#fff;
    animation: loading 2s alternate infinite;
    animation-delay: 3s;
    background: linear-gradient(rgba(0, 0, 255,.7),rgba(0,0,0,.7));
    padding: 4px;
    transform: translateX(0px);
    transition: all 4s;
    user-select: none;
}

@keyframes loading {
    from{}
    to{
        text-shadow: 1px 5px  purple;
        box-shadow: 1px 1px 5px 3px dodgerblue;
        transform: translateX(13px);
        transition: all 4s;
        opacity: 0;
    }
}

.counterstrike-loading-1{
    background-color: orange;
    width: 10%;
    height: 10px;

}
.counterstrike-loading-2{
    background-color: orange;
    width: 40%;
    height: 10px;

}
.counterstrike-loading-3{
    background-color: orange;
    width: 60%;
    height: 10px;

}
.counterstrike-loading-4{
    background-color: orange;
    width: 80%;
    height: 10px;

}
.counterstrike-loading-5{
    background-color: orange;
    width: 100%;
    height: 10px;

}
.counterstrike-loading-6{
    background-color: orange;
    width: 100%;
    height: 10px;

}